@charset "UTF-8";
body{
    text-align: center;
    font-size:30px;
}
a{
    display: block;
    width:80px;
    height:40px;
    line-height:40px;
    font-size:30px;
    margin:0 auto;
    background-color: #808080;;
    color: white;
    text-decoration: none;
}
a:link{
	color:white;
}
a:visited{
	color:white;
}
a:hover{
	color:white;
}
a:active{
	color:white;
}
